<link href="~/css/book.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<article class="aboutcon">
    <h1 class="t_nav"><span>你，生命中最重要的过客，之所以是过客，因为你未曾为我停留。</span><a href="/" class="n1">网站首页</a><a href="#" class="n2">留言版</a></h1>
    <div class="book left">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="http://yjcfl.wicp.net/Message/Index"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
var duoshuoQuery = {short_name:"ysbzc"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
        </script>
        <!-- 多说公共JS代码 end -->

    </div>
   @Html.Partial("RightMyInfo")
</article>
